{% extends "app/base.html" %}
{% block content %}
<h1>{{ galaxy.name }}</h1>
<p><strong>Tipo:</strong> {{ galaxy.galaxy_type }}</p>
<p><strong>Distância:</strong> {{ galaxy.distanceMly }} anos-luz</p>

{% if galaxy.image %}
    <img class="image" src="{{ galaxy.image.url }}" alt="{{ galaxy.name }}">
{% endif %}

<h2>Estrelas nessa Galáxia.</h2>
<ul>
    {% for star in stars %}
        <li><a href="{% url 'star_detail' star.id %}">{{ star.name }}</a></li>
    {% empty %}
        <li>Sem estrelas registradas.</li>
    {% endfor %}
</ul>
{% endblock %}